:root{
    --mainColor : #821131;
    --secondaryColor : #32012F;
    --acsentColor : #DD7900;
}


body{
    background-color: inherit;
    min-height: 900px;
    font-family: 'jakartasans', roboto;
}

/* Navbar */
.nav-link.active {
    color: var(--acsentColor) !important;
    font-weight: 700;
    transition: .8s;
}

.nav-link {
    color: currentColor !important;
}

.navbar {
    background-color: #821131;
    color: #ffffff;
}

body.light {
    background: #EEEEEE;
    color: #000;
}

body.dark {
    background: #000;
    color: #fff;
}

.toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.toggle-container button {
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: none;
    position: relative;
}

/* Garis putus-putus antar tombol */
.toggle-container button:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -8px;
    width: 10px;
    height: 2px;
    border-top: 1px dashed #fff;
}

/* end Navbar */

/* Resume */
.resume {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #222;
}

header p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

header a {
    color: #0073e6;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #0073e6;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

section p{
    color: #000;
}

.job,
.education-entry,
.organization {
    margin-bottom: 15px;
}

.job h3,
.education-entry h3,
.organization h3 {
    margin: 0;
    font-size: 16px;
    color: #444;
}

.job p,
.education-entry p,
.organization p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

ul {
    margin: 0;
    padding-left: 20px;
    list-style: disc;
}

ul li {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.skills p {
    margin: 5px 0;
    font-size: 14px;
}

.skills strong {
    color: #0073e6;
}


.btn-custom1{
    background-color: var(--acsentColor);
    text-align: center;
    color: #fff;
    min-width: 150px;
    height: 45px;
    font-weight: 700;
    font-size: 1.2rem;
}

.btn-custom1:hover{
    box-shadow: 0 0 5px rgb(255, 166, 0, .8);
}

.py-5 {
            color: inherit !important;
        }

        .social-icons a {
            color: inherit !important;
            margin: 0 10px;
            font-size: 20px;
            text-decoration: none;
            transition: color 0.3s;
        }
        .social-icon-footer{
            color: inherit !important:
        }